$colors: (
  primary: '#990800',
  primary-hover: '#CC2325',
  bg: '#F2F2F2',
  cText: '#404040',
  cWhite: '#FFFFFF',
  cBlack: '#00000',
  cYellow: '#F8EADA',
  cPink: '#FF7A7C',
  cGreen: '#024A12',
  cRedLight: '#F8DCD0',
);

$fonts: (
  primary: 'Montserrat',
);

:root {
  @each $name, $font in $fonts {
    --font-#{$name}: #{$font};
  }

  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
