$red: #CC2325;
$darkRed: #990800;
$white: #FFFFFF;
$ligthGray: #F2F2F2;
$gray: #C5C7CD;
$darkGray: #646464;
$black: #000000;
$yellow: #FFDA5D;
$darkYellow: #CC8903;
$blue: #3751FF;

@mixin text ($size) {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: $size;
}